html{
    font-family: sans-serif;
}


div.top{
    display: inline;
}

div.topright{
    float: right;
    display: inline;
}


a.tentang:link, a.tentang:visited {
    position: relative;
    left: 45px;
    top: 10px;
    border: 2px solid green;
    background-color: green;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a.tentang:hover, a.tentang:active {
    background-color: rgb(0, 92, 0);
    transition: .5s ease;
}

input[type=text].search{
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    border: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin-top: 30px;
}



div.topleft {
    display: inline;
}

img.logo {
    width: 254px;
    height: 75px;
}

div.body {
    border: 2px solid black;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
}


table.tabletop {
    border: 2px solid black;
    width: 99%;
    text-align: center;
    padding: 5px 5px;
    margin-left: 7px;
    margin-top: 5px;
}

div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftside {
    border: 2px solid black;
    text-align: left;
    flex-grow: 3;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
}

#mid {
    border: 2px solid black;
    flex-grow: 4;
    margin-left: 2px;
    margin-right: 2px;
    padding: 30px;
}

#rightside {
    flex-grow: 3;
    margin-left: 2px;
    margin-right: 2px;
}

input.recipient {
    width: 100%;
    border: none;
    border-bottom:3px solid black ;

}

input.recipient:hover, input.recipient:focus {
    border-bottom:3px solid green ;
    transition: .5s ease;
}

#message{
    resize: none;
    width: 100%;
    border: 3px solid black;
}

#message:hover, #message:focus {
    border:3px solid green ;
    transition: .5s ease;
}

#service{
    width: 100%;
}

.rightcon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.righttop {
    flex-grow: 6;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 2px;
    padding-bottom: 360px;
}
.rightbottom {
    flex-grow: 4;
    border: 2px solid black;
    padding: 10px;
    padding-bottom: 80px;
}

.btn{
    text-align: right;
    padding-bottom: 2px;
}
button#close{
    background-color: rgb(173, 173, 173);
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-right: 7px;
    border-radius: 10%;
    cursor: pointer;
}

button#save{
    background-color: rgb(101, 170, 74);
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-right: 7px;
    border-radius: 10%;
    cursor: pointer;
}

button#close:hover{
    background-color: rgb(146, 145, 145);
    transition: 1.5s ease;
}
button#save:hover{
    background-color: rgb(83, 131, 64);
    transition: 1.5s ease;
}