body{
    background-color: darkred;
    font-family: sans-serif;
}
.container{
    margin: 100px;
    padding: 20px;
}
.box{
    display: flex;
    flex-basis: 100%;
}
.box>div{
    background-color: antiquewhite;
    margin: 10px;
    padding: 2px 20px;
    border: 2px solid;
    text-align: center;
}
.logo{
    flex-grow: 3;
}
.shape{
    flex-grow: 7;
    font-size: 60px;
}
.whole{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    border: 2px solid;
}
.par{
    text-align: justify;
    text-indent: 50px;
}
a:link, a:visited{
    background-color: antiquewhite;
    color: black;
    border: 2px solid black;
    border-radius: 10%;
    transition: .5s ease;
}
a:hover, a:active{
    background-color: black;
    color: antiquewhite;
}
